<div class="weather">
  <%= @presenter.temp %>ºF<br>
  <%= @presenter.description %><br>
  <%= @presenter.city %>
</div>

<h1 id='welcome'>Welcome, <%= current_user.name %>!</h1>
<div class="plan_links">
  <%= link_to "Add a Workout Plan", new_user_plan_path %></br>
  <%= link_to "Workout Plans", user_plan_path(current_user) %></br>
  <%= link_to "Record Run", record_path(current_user) %></br>
</div>
